.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  .horizontal-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .horizontal-center {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .form-group {
    margin-right: 16px;
  }
  
  .header-cell {
    background-color: #007bff;
    color: white;
    padding: 8px;
    text-align: left;
  }
  
  .custom-button {
    background-color: #9ADE7B;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 15px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  

  .custom-button-report{
    background-color: #F1C93B;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 15px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .table-container {
    margin-top: 16px;
    text-align: center;
  }