.btn-delete,
.btn-registrar {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
  margin: 15px 10px;
  justify-content: center; /* Ajusta el margen aquí para reducir la separación entre los botones */
}

.btn-delete {
  background-color: #FF8080;
}

.btn-registrar {
  background-color: #9ADE7B;
}


  .formForRegister {
    
    margin: 0.7rem 0.7rem 0.0rem 0.7rem;
  }

 