/* Estilos generales */
/* Estilos generales */
body {
  background-color: #ececef;
}

.adolescent-list {
  max-width: 100%;
  overflow-x: auto;
}

/* Estilos para la tabla */
table {
  width: 100%;
  background-color: #fff; /* Cambia este color al que desees para el fondo de la tabla */
  color: black;
  
 

  th, td {
    padding: 8px;
    text-align: left;

  }
} 
  
  /* Estilos para los botones de editar y eliminar */
  .btn-edit,
  .btn-delete {
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
margin: 2px;
    cursor: pointer;
    color: #fff;
  }
  
  .btn-edit {
    background-color: #F1C93B; /* Color azul */
  }
  
  .btn-delete {
    background-color: #FF8080; /* Color rojo */
  }
  
  /* Estilos para el formulario de edición */
  .edit-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: left;
    margin: 20px auto; /* Centra el formulario horizontalmente */
  }
  
  /* Estilos para los elementos del formulario de edición */
  .edit-form h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .edit-form label {
    display: block;
    font-weight: bold;
    margin-top: 12px;
  }
  
  .edit-form input[type="text"],
  .edit-form input[type="date"],
  .edit-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
  }
  
  .edit-form .form-group {
    margin-top: 20px;
    text-align: right;
  }
  
  .edit-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .edit-form button.btn-secondary {
    border-radius: 15px;
margin: 2px;
    background-color: #FF8080;
    color: #fff;
  }
  
  .edit-form button.btn-primary {
    border-radius: 15px;
    margin: 2px;
    background-color: #9ADE7B;
    color: #fff;
  }
  
  /* Estilos para la sección de filtro */
  .filter-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-section label {
    margin-right: 10px;

  }
  
  .filter-section select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para las opciones del select */
  .filter-section select option {

    color: #333;
  }
  
  /* Estilos para el borde al enfocar el select */
  .filter-section select:focus {
    outline: none;
    border-color: #007bff; /* Color azul al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave al enfocar */
  }
  
  /* Estilos para el botón "X" */
  .close-button {
    background-color: #dc3545; /* Color rojo */
    color: #fff; /* Color del texto en blanco */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
  
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #c82333; /* Color rojo más oscuro al pasar el mouse */
  }
  
  
  /* Agrega este estilo en tu archivo CSS para darle color amarillo al botón */
  .btn-restore {
    background-color: #FF8080;
    color: white; /* Puedes ajustar el color del texto según tus preferencias */
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-restore:hover {
    background-color: #FF8080; /* Cambia el color al pasar el mouse por encima si lo deseas */
  }
  
  /* Estilos para el botón de agregar registro */
.agregar-btn {
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
  margin-right: 15px;
}

/* Efecto hover */
.agregar-btn:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el botón de agregar registro (color verde) */
.agregar-btn-verde {
  background-color: #9ADE7B; /* Color de fondo verde */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 15px;
margin: 2px;
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.agregar-btn-report {
  background-color: #E9B384; /* Color de fondo verde */
  color: #fff; /* Color del texto en blanco */
  
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 15px;
margin: 2px;
border: none;
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

/* Efecto hover */
.agregar-btn-verde:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

.text-red {
  color: red;
}
