

<div class="adolescent-form" style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h2 style="font-size: 24px; margin-bottom: 20px; color: #333; text-align: center;">REGISTRAR NUEVO PROGRAMA</h2>
    <form class="registration-form" style="display: grid; gap: 20px;" (submit)="submitForm()">
      
      
      <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>NOMBRE</mat-label>
        <input matInput type="text" id="name" [(ngModel)]="newAdolescent.name" name="name" required pattern="^[A-Za-z\s]+$">
      </mat-form-field>
      
     
      <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>TIPO:</mat-label>
        <input matInput type="text" id="type" [(ngModel)]="newAdolescent.type" name="type" required pattern="^[A-Za-z\s]+$">
    </mat-form-field>
    
    <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>BENEFICIARIO:</mat-label>
        <input matInput type="text" id="beneficiary" [(ngModel)]="newAdolescent.beneficiary" name="beneficiary" required pattern="^[A-Za-z\s]+$">
    </mat-form-field>
    
    <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>RESPONSABLE:</mat-label>
        <input matInput type="text" id="responsible" [(ngModel)]="newAdolescent.responsible" name="responsible" required pattern="^[A-Za-z\s]+$">
    </mat-form-field>
    
    <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>DESCRIPCION:</mat-label>
        <input matInput type="text" id="description" [(ngModel)]="newAdolescent.description" name="description" required>
    </mat-form-field>
    
    <mat-form-field class="me-24 fs-16" appearance="fill">
        <mat-label>NIVEL:</mat-label>
        <select matNativeControl id="level" [(ngModel)]="newAdolescent.level" name="level" required>
            <option value="S">SOA</option>
            <option value="P">PRONACEJ</option>
        </select>
    </mat-form-field>
      
      <div class="form-group">
        
        <label for="inicio" style="font-size: 16px; color: #555;">INICIO:</label>
        <input type="date" id="inicio" class="form-control" style="width: 96%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; background-color: #f5f5f5;" [(ngModel)]="newAdolescent.startDate" name="inicio" required>
        <!-- La restricción pattern permite solo números -->
      </div>
      <div class="form-group">
        <label for="fin" style="font-size: 16px; color: #555;">FIN:</label>
        <input type="date" id="fin" class="form-control" style="width: 96%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; background-color: #f5f5f5;" [(ngModel)]="newAdolescent.endDate" name="fin" required>
        <!-- La restricción pattern permite solo números -->
      </div>
  
  
      
      <div style="display: flex; justify-content: space-between; margin-top: 20px;">
        <button class="btn-delete" (click)="navigateToAdolescentList()">REGRESAR</button>
        <button type="submit" class="btn btn-primary" style="margin-left: 10px; background-color: #007bff; color: #fff; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease-in-out; font-size: 16px;">REGISTRAR</button>
    </div>
    
    </form>
  </div>
  