.agregar-btn-report {
    background-color: #e72323; /* Color de fondo verde */
    color: #fff; /* Color del texto en blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    margin: 15px;
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
  }