<div mat-dialog-content style="text-align: center;">
    <mat-form-field appearance="fill">
        <mat-label>REPORTE DE PROGRAMAS POR:</mat-label>
        <mat-select (selectionChange)="onSelectionChange($event)">
            <mat-option value="T">TODOS</mat-option>
            <mat-option value="A">ACTIVOS</mat-option>
            <mat-option value="I">INACTIVOS</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button class="agregar-btn-report" (click)="onDownloadButtonClick()">DESCARGAR REPORTE</button>
</div>
<div mat-dialog-actions style="text-align: center;">
    <button mat-button (click)="onNoClick()">Cerrar</button>
</div>
